div.article h1 {
    font-weight: 500 !important;
}

div.article h2 {
    margin-top: 40px !important;
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 120% !important;
}

.ui.article.container {
    padding: 100px 24px !important;
}


@media screen and (min-width: 768px) {
    .ui.article.container {
        padding: 100px 60px !important;
    }
}