* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.ui.button {
  margin-top: 5px;
}

.darkmode, .darkmode .sidebar {
  background-color: #2C2F33 !important;
  color: white;
}

.darkmode .fields > .field > label , .darkmode .field > label, .darkmode span {
  color: white !important;
}

.darkmode .card {
  background-color: #23272A !important;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0px;
  padding: 0em;
  border: none !important;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #23272A, 0px 0px 0px 1px #23272A !important;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  z-index: '';
}

.darkmode .card > .content > .header, 
.darkmode .card > .content > .meta, 
.darkmode .card > .content > .description,
.darkmode .card > .content > .description h1 .label.status {
  color: white !important
}

.darkmode .menu.pagination {
  border: 0 solid transparent;
    background: #1b1c1d;
    box-shadow: none;
}

.darkmode .menu > .item {
  color: white !important;
}

.darkmode .dropdown.selection .text{
  color: black !important;
}

.darkmode .segment:not(.top) {
  color: white !important;
  background-color: #1b1c1d !important;
}



.darkmode .botDetail .label, .darkmode a.label, .darkmode .tag.labels > a, .darkmode .example, .darkmode .tag.label {
  background-color: #23272A;
  color: white;
}

.darkmode .label[href]:hover, .darkmode .tag.labels > a:not(.noHover)[href]:hover {
  background-color: #000000 !important;
  color: white !important;
}

.darkmode.modal, .darkmode.modal > .header {
  background-color: #1b1c1d !important;
  color: white !important;
}

.darkmode.modal .field > * > * {
  color: white !important;
}

.discord:not(i) {
  background-color: #7289da !important;
  color: #fff !important;
}

.trusted {
  background: #16ab39 !important;
  color: #fff !important
}

.notfound > h2 {
  margin-top: 10%;
  font-size: 50px;
  text-align: center;
}
.notfound > h3  {
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
}
.notfound > h1 {
  font-size: 160px;
  font-weight: 900;
  letter-spacing: 20px;
  background-clip: text;
  text-align: center;
}

.bg > * :not(i):not(a){
  color: white !important
}

.rank.segment {
  color: black !important;
}

.darkmode .rank.segment {
  color: white !important;
}

.rank.first.segment {
  background: gold;
  color: black !important;
}

.rank.second.segment {
  background: #c7c7d0;
  color: black !important;
}

.rank.third.segment {
  background: #af602e;
  color: white !important;
}

.card .icon.check {
  color: #7289da !important
}

.ui.nav.menu {
  margin: 0;
}

textarea {
  min-height: 300px;
}

.gg.box {
  width: 100% !important;
}

.darkmode .verytop {
  background-color:  rgba(0,0,0,0.2) !important;
}

.verytop {
  background-color: #7289DA !important;
}

.darkmode .wave > path {
  fill: #232629;
}

@media all and (max-width:1000px) {
  
  .wave {
    display: none;
  }
  
}

.ui.pagination .active.item {
  font-weight: bold !important;
}

.ui.pagination .item {
  outline: none;
}

img:before {
  content: ' ';
  display: block;
  position: absolute;
  background-image: url(/img/default.png);

}

.botDetail .buttons .ui.button {
  margin: 3px 2px;
}

.botDetail div > .ui.label {
  margin: 3px 2px;
}
.footer h1, .footer h4 {
  color: #3366FF !important;
}

.footer a[href] {
  color: #fefefe !important
}


.card a[href]:hover:not(.label):not(.results):not(.button), .segment a[href]:hover:not(.label):not(.results):not(.button) {
  text-decoration: underline;
}